version: "3.9"

services:
  db:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: photo_portfolio
      MYSQL_USER: root
      MYSQL_PASSWORD: root
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      retries: 10
      timeout: 5s

  web:
    image: adityagaikwad6430/photo-app:latest
    container_name: photo-app
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "80:5000"
    env_file:
      - .env
    volumes:
      - .:/app
    restart: on-failure

volumes:
  mysql_data:
