<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Outdoor Weddings | Memories Studio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% include 'header.html' %}
    {% include 'navbar.html' %}
    <section class="page-header">
        <h1>Outdoor Weddings</h1>
        <p>Experience the magic of love surrounded by nature’s beauty.</p>
    </section>

    <section class="gallery-grid">
        <img src="../static/images/wedding_outdoor1.jpg" alt="Outdoor Wedding 1">
        <img src="../static/images/wedding_outdoor2.jpg" alt="Outdoor Wedding 2">
        <img src="../static/images/wedding_outdoor3.jpg" alt="Outdoor Wedding 3">
        <img src="../static/images/wedding_outdoor4.jpg" alt="Outdoor Wedding 4">
    </section>
    {% include 'footer.html' %}

</body>
</html>
