<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Outdoor Post-Weddings | Yash Gaikwad Photography</title>
    <link rel="stylesheet" href="../../static/style.css">
</head>

<body>
    {% include 'header.html' %}
    <div class="container">
        <h1 class="section-title">Outdoor Post-Wedding Shoots </h1>
        <p class="section-description">
        <p>Celebrate the beginning of forever with a Post-Wedding shoot that captures your love, laughter, and the
            moments in between.</p>
        </p>

        <section class="gallery-grid">
            <table>
                <thead>
                    <tr>
                        <td>
                            <div class="gallery-item">
                                <a href="../../static/Images/wedding/Post-Wedding/" data-lightbox="Post-Wedding-gallery"
                                    data-title="Shoot">
                                    <img src="../../static/Images/wedding/Post-Wedding/" alt="Shoot">
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="gallery-item">
                                <a href="../../static/Images/wedding/Post-Wedding/" data-lightbox="Post-Wedding-gallery"
                                    data-title="Shoot">
                                    <img src="../../static/Images/wedding/Post-Wedding/" alt="Shoot">
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="gallery-item">
                                <a href="../../static/Images/wedding/Post-Wedding/" data-lightbox="Post-Wedding-gallery"
                                    data-title="Shoot">
                                    <img src="../../static/Images/wedding/Post-Wedding/" alt="Shoot">
                                </a>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="gallery-item">
                                <a href="../../static/Images/wedding/Post-Wedding/" data-lightbox="Post-Wedding-gallery"
                                    data-title="Shoot">
                                    <img src="../../static/Images/wedding/Post-Wedding/" alt="Shoot">
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="gallery-item">
                                <a href="../../static/Images/wedding/Post-Wedding/" data-lightbox="Post-Wedding-gallery"
                                    data-title="Shoot">
                                    <img src="../../static/Images/wedding/Post-Wedding/" alt="Shoot">
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="gallery-item">
                                <a href="../../static/Images/wedding/Post-Wedding/" data-lightbox="Post-Wedding-gallery"
                                    data-title="Shoot">
                                    <img src="../../static/Images/wedding/Post-Wedding/" alt="Shoot">
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                    <tr>
                        <td>
                            <div class="gallery-item">
                                <a href="../../static/Images/wedding/Post-Wedding/" data-lightbox="Post-Wedding-gallery"
                                    data-title="Shoot">
                                    <img src="../../static/Images/wedding/Post-Wedding/" alt="Shoot">
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="gallery-item">
                                <a href="../../static/Images/wedding/Post-Wedding/" data-lightbox="Post-Wedding-gallery"
                                    data-title="Shoot">
                                    <img src="../../static/Images/wedding/Post-Wedding/" alt="Shoot">
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
    {% include 'footer.html' %}
</body>

</html>