<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Outdoor Pre-Weddings | Yash Gaikwad Photography</title>
    <link rel="stylesheet" href="../../static/style.css">
</head>

<body>
    {% include 'header.html' %}
    <div class="present">
        <div class="present-img">
         <img src="" alt="">
        </div>    
    </div>
    <div class="container">
        <h1 class="section-title">Outdoor Pre-Wedding Shoots </h1>
        <p class="section-description">
        <p>Celebrate the beginning of forever with a pre-wedding shoot that captures your love, laughter, and the
            moments in between.</p>
        </p>
        <section class="gallery-grid">
            <table>
                <thead>
                    <tr>
                        <td>
                            <div class="gallery-item">
                                <a href="{{ url_for('wedding_prewedding1') }}" data-lightbox="pre-wedding-gallery"
                                    data-title="Shoot">
                                    <img src="../../static/Images/wedding/pre-wedding/pre-wedding1/9.JPG" alt="Shoot">
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="gallery-item">
                                <a href="{{ url_for('wedding_prewedding2') }}" data-lightbox="pre-wedding-gallery"
                                    data-title="Shoot">
                                    <img src="../../static/Images/wedding/pre-wedding/pre-wedding2/9.jpg" alt="Shoot">
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="gallery-item">
                                <a href="{{ url_for('wedding_prewedding3') }}" data-lightbox="pre-wedding-gallery"
                                    data-title="Shoot">
                                    <img src="../../static/Images/wedding/pre-wedding/3.JPG" alt="Shoot">
                                </a>
                            </div>
                        </td>
                    </tr>
                </thead>
                
            </table>
        </section>
    </div>
    {% include 'footer.html' %}
</body>

</html>