<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Outdoor Pre-Weddings | Yash Gaikwad Photography</title>
    <link rel="stylesheet" href="../../static/style.css">
</head>

<body>
    {% include 'header.html' %}
    <div class="present">
        <img src="../../static/Images/wedding/pre-wedding/28.JPG" alt="">
    </div>
    <div class="container">
        <h1 class="section-title">Outdoor Pre-Wedding Shoots </h1>
        <p class="section-description">
        <p>Celebrate the beginning of forever with a pre-wedding shoot that captures your love, laughter, and the
            moments in between.</p>
        </p>
        <section class="gallery-grid">
            <table>
                <thead>
                    <tr>
                        <td>
                            <div class="gallery-item">
                                <a href="../../static/Images/wedding/pre-wedding/1.JPG" data-lightbox="pre-wedding-gallery"
                                    data-title="Shoot">
                                    <img src="../../static/Images/wedding/pre-wedding/1.JPG" alt="Shoot">
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="gallery-item">
                                <a href="../../static/Images/wedding/pre-wedding/2.JPG" data-lightbox="pre-wedding-gallery"
                                    data-title="Shoot">
                                    <img src="../../static/Images/wedding/pre-wedding/2.JPG" alt="Shoot">
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="gallery-item">
                                <a href="../../static/Images/wedding/pre-wedding/3.JPG" data-lightbox="pre-wedding-gallery"
                                    data-title="Shoot">
                                    <img src="../../static/Images/wedding/pre-wedding/3.JPG" alt="Shoot">
                                </a>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="gallery-item">
                                <a href="../../static/Images/wedding/pre-wedding/4.JPG" data-lightbox="pre-wedding-gallery"
                                    data-title="Shoot">
                                    <img src="../../static/Images/wedding/pre-wedding/4.JPG" alt="Shoot">
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="gallery-item">
                                <a href="../../static/Images/wedding/pre-wedding/5.JPG" data-lightbox="pre-wedding-gallery"
                                    data-title="Shoot">
                                    <img src="../../static/Images/wedding/pre-wedding/5.JPG" alt="Shoot">
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="gallery-item">
                                <a href="../../static/Images/wedding/pre-wedding/6.JPG" data-lightbox="pre-wedding-gallery"
                                    data-title="Shoot">
                                    <img src="../../static/Images/wedding/pre-wedding/6.JPG" alt="Shoot">
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                    <tr>
                        <td>
                            <div class="gallery-item">
                                <a href="../../static/Images/wedding/pre-wedding/7.JPG" data-lightbox="pre-wedding-gallery"
                                    data-title="Shoot">
                                    <img src="../../static/Images/wedding/pre-wedding/7.JPG" alt="Shoot">
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="gallery-item">
                                <a href="../../static/Images/wedding/pre-wedding/8.JPG" data-lightbox="pre-wedding-gallery"
                                    data-title="Shoot">
                                    <img src="../../static/Images/wedding/pre-wedding/8.JPG" alt="Shoot">
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="gallery-item">
                                <a href="../../static/Images/wedding/pre-wedding/9.JPG" data-lightbox="pre-wedding-gallery"
                                    data-title="Shoot">
                                    <img src="../../static/Images/wedding/pre-wedding/9.JPG" alt="Shoot">
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="gallery-item">
                                <a href="../../static/Images/wedding/pre-wedding/10.JPG" data-lightbox="pre-wedding-gallery"
                                    data-title="Shoot">
                                    <img src="../../static/Images/wedding/pre-wedding/10.JPG" alt="Shoot">
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="gallery-item">
                                <a href="../../static/Images/wedding/pre-wedding/11.JPG" data-lightbox="pre-wedding-gallery"
                                    data-title="Shoot">
                                    <img src="../../static/Images/wedding/pre-wedding/11.JPG" alt="Shoot">
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="gallery-item">
                                <a href="../../static/Images/wedding/pre-wedding/12.JPG" data-lightbox="pre-wedding-gallery"
                                    data-title="Shoot">
                                    <img src="../../static/Images/wedding/pre-wedding/12.JPG" alt="Shoot">
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="gallery-item">
                                <a href="../../static/Images/wedding/pre-wedding/13.JPG" data-lightbox="pre-wedding-gallery"
                                    data-title="Shoot">
                                    <img src="../../static/Images/wedding/pre-wedding/13.JPG" alt="Shoot">
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="gallery-item">
                                <a href="../../static/Images/wedding/pre-wedding/14.JPG" data-lightbox="pre-wedding-gallery"
                                    data-title="Shoot">
                                    <img src="../../static/Images/wedding/pre-wedding/14.JPG" alt="Shoot">
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="gallery-item">
                                <a href="../../static/Images/wedding/pre-wedding/15.JPG" data-lightbox="pre-wedding-gallery"
                                    data-title="Shoot">
                                    <img src="../../static/Images/wedding/pre-wedding/15.JPG" alt="Shoot">
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="gallery-item">
                                <a href="../../static/Images/wedding/pre-wedding/16.JPG" data-lightbox="pre-wedding-gallery"
                                    data-title="Shoot">
                                    <img src="../../static/Images/wedding/pre-wedding/16.JPG" alt="Shoot">
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="gallery-item">
                                <a href="../../static/Images/wedding/pre-wedding/17.JPG" data-lightbox="pre-wedding-gallery"
                                    data-title="Shoot">
                                    <img src="../../static/Images/wedding/pre-wedding/17.JPG" alt="Shoot">
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="gallery-item">
                                <a href="../../static/Images/wedding/pre-wedding/18.JPG" data-lightbox="pre-wedding-gallery"
                                    data-title="Shoot">
                                    <img src="../../static/Images/wedding/pre-wedding/18.JPG" alt="Shoot">
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="gallery-item">
                                <a href="../../static/Images/wedding/pre-wedding/18.JPG" data-lightbox="pre-wedding-gallery"
                                    data-title="Shoot">
                                    <img src="../../static/Images/wedding/pre-wedding/18.JPG" alt="Shoot">
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="gallery-item">
                                <a href="../../static/Images/wedding/pre-wedding/19.JPG" data-lightbox="pre-wedding-gallery"
                                    data-title="Shoot">
                                    <img src="../../static/Images/wedding/pre-wedding/19.JPG" alt="Shoot">
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="gallery-item">
                                <a href="../../static/Images/wedding/pre-wedding/20.JPG" data-lightbox="pre-wedding-gallery"
                                    data-title="Shoot">
                                    <img src="../../static/Images/wedding/pre-wedding/20.JPG" alt="Shoot">
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="gallery-item">
                                <a href="../../static/Images/wedding/pre-wedding/21.JPG" data-lightbox="pre-wedding-gallery"
                                    data-title="Shoot">
                                    <img src="../../static/Images/wedding/pre-wedding/21.JPG" alt="Shoot">
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="gallery-item">
                                <a href="../../static/Images/wedding/pre-wedding/22.JPG" data-lightbox="pre-wedding-gallery"
                                    data-title="Shoot">
                                    <img src="../../static/Images/wedding/pre-wedding/23.JPG" alt="Shoot">
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="gallery-item">
                                <a href="../../static/Images/wedding/pre-wedding/24.JPG" data-lightbox="pre-wedding-gallery"
                                    data-title="Shoot">
                                    <img src="../../static/Images/wedding/pre-wedding/24.JPG" alt="Shoot">
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="gallery-item">
                                <a href="../../static/Images/wedding/pre-wedding/25.JPG" data-lightbox="pre-wedding-gallery"
                                    data-title="Shoot">
                                    <img src="../../static/Images/wedding/pre-wedding/25.JPG" alt="Shoot">
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="gallery-item">
                                <a href="../../static/Images/wedding/pre-wedding/26.JPG" data-lightbox="pre-wedding-gallery"
                                    data-title="Shoot">
                                    <img src="../../static/Images/wedding/pre-wedding/26.JPG" alt="Shoot">
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="gallery-item">
                                <a href="../../static/Images/wedding/pre-wedding/27.JPG" data-lightbox="pre-wedding-gallery"
                                    data-title="Shoot">
                                    <img src="../../static/Images/wedding/pre-wedding/27.JPG" alt="Shoot">
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="gallery-item">
                                <a href="../../static/Images/wedding/pre-wedding/28.JPG" data-lightbox="pre-wedding-gallery"
                                    data-title="Shoot">
                                    <img src="../../static/Images/wedding/pre-wedding/28.JPG" alt="Shoot">
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="gallery-item">
                                <a href="../../static/Images/wedding/pre-wedding/29.JPG" data-lightbox="pre-wedding-gallery"
                                    data-title="Shoot">
                                    <img src="../../static/Images/wedding/pre-wedding/29.JPG" alt="Shoot">
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
    {% include 'footer.html' %}
</body>

</html>