<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sangeet Night | Memories Studio</title>
    <link rel="stylesheet" href="../../static/style.css">
</head>

<body>
    {% include 'header.html' %}
    <div class="container">
        <h1 class="section-title">Sangeet Night</h1>
        <p class="section-description">

        <p>Music, dance, and memories that light up every celebration!</p>
        </p>
        </section>

        <section class="gallery-grid">
            <table>
                <thead>
                    <tr>
                        <td>
                            <div class="gallery-item">
                                <a href="../../static/Images/wedding/haldi/" data-lightbox="haldi-gallery"
                                    data-title="Shoot">
                                    <img src="../../static/Images/wedding/haldi/" alt="Shoot">
                                    <div class="overlay">
                                        <h3>Shoot</h3>
                                    </div>
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="gallery-item">
                                <a href="../../static/Images/wedding/haldi/" data-lightbox="haldi-gallery"
                                    data-title="Shoot">
                                    <img src="../../static/Images/wedding/haldi/" alt="Shoot">
                                    <div class="overlay">
                                        <h3>Shoot</h3>
                                    </div>
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="gallery-item">
                                <a href="../../static/Images/wedding/haldi/" data-lightbox="haldi-gallery"
                                    data-title="Shoot">
                                    <img src="../../static/Images/wedding/haldi/" alt="Shoot">
                                    <div class="overlay">
                                        <h3>Shoot</h3>
                                    </div>
                                </a>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="gallery-item">
                                <a href="../../static/Images/wedding/haldi/" data-lightbox="haldi-gallery"
                                    data-title="Shoot">
                                    <img src="../../static/Images/wedding/haldi/" alt="Shoot">
                                    <div class="overlay">
                                        <h3>Shoot</h3>
                                    </div>
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="gallery-item">
                                <a href="../../static/Images/wedding/haldi/" data-lightbox="haldi-gallery"
                                    data-title="Shoot">
                                    <img src="../../static/Images/wedding/haldi/" alt="Shoot">
                                    <div class="overlay">
                                        <h3>Shoot</h3>
                                    </div>
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="gallery-item">
                                <a href="../../static/Images/wedding/haldi/" data-lightbox="haldi-gallery"
                                    data-title="Shoot">
                                    <img src="../../static/Images/wedding/haldi/" alt="Shoot">
                                    <div class="overlay">
                                        <h3>Shoot</h3>
                                    </div>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="gallery-item">
                                <a href="../../static/Images/wedding/haldi/" data-lightbox="haldi-gallery"
                                    data-title="Shoot">
                                    <img src="../../static/Images/wedding/haldi/" alt="Shoot">
                                    <div class="overlay">
                                        <h3>Shoot</h3>
                                    </div>
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="gallery-item">
                                <a href="../../static/Images/wedding/haldi/" data-lightbox="haldi-gallery"
                                    data-title="Shoot">
                                    <img src="../../static/Images/wedding/haldi/" alt="Shoot">
                                    <div class="overlay">
                                        <h3>Shoot</h3>
                                    </div>
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="gallery-item">
                                <a href="../../static/Images/wedding/haldi/" data-lightbox="haldi-gallery"
                                    data-title="Shoot">
                                    <img src="../../static/Images/wedding/haldi/" alt="Shoot">
                                    <div class="overlay">
                                        <h3>Shoot</h3>
                                    </div>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="gallery-item">
                                <a href="../../static/Images/wedding/haldi/" data-lightbox="haldi-gallery"
                                    data-title="Shoot">
                                    <img src="../../static/Images/wedding/haldi/" alt="Shoot">
                                    <div class="overlay">
                                        <h3>Shoot</h3>
                                    </div>
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="gallery-item">
                                <a href="../../static/Images/wedding/haldi/" data-lightbox="haldi-gallery"
                                    data-title="Shoot">
                                    <img src="../../static/Images/wedding/haldi/" alt="Shoot">
                                    <div class="overlay">
                                        <h3>Shoot</h3>
                                    </div>
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="gallery-item">
                                <a href="../../static/Images/wedding/haldi/" data-lightbox="haldi-gallery"
                                    data-title="Shoot">
                                    <img src="../../static/Images/wedding/haldi/" alt="Shoot">
                                    <div class="overlay">
                                        <h3>Shoot</h3>
                                    </div>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
    {% include 'footer.html' %}
</body>

</html>