<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Shootings</title>
    <link rel="stylesheet" href="../../static/style.css">
    
</head>
<body>
  {% include 'header.html' %}
   <div class="video">
    <video src="https://photo-app-yg--use1-az4--x-s3.s3express-use1-az4.us-east-1.amazonaws.com/TRESER.mp4" autoplay muted ></video>
   </div>
  <section class="page-section">
    <div>
      <div class="container">
        <h1 class="section-title">Engagement Shoots</h1>
        <p class="section-description">
          Celebrate the beginning of your forever with breathtaking portraits.
        </p>
      </div>
    </div>
  </section>

  {% include 'footer.html' %}
</body>

</html>
