<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bridal Portraits | Shutter Studios</title>
    <link rel="stylesheet" href="../../../static/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.4/css/lightbox.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.4/js/lightbox.min.js"></script>
</head>

<body>
    {% include 'header.html' %}
    <section class="page-section">
        <div class="container">
            <h1 class="section-title">Bridal Portraits</h1>
            <p class="section-description">
                Capturing timeless bridal portraits with grace, elegance, and emotion.
            </p>
            <table>
                <thead>
                    <tr>
                        <td>
                            <div class="gallery-item">
                                <a href="../../../static/Images/gallery/bridal/bride3/1.jpg"
                                    data-lightbox="gallwey-item" data-title="Shoot">
                                    <img src="../../../static/Images/gallery/bridal/bride3/1.jpg" alt="Bride 3">
                                </a>
                            </div>
                        </td>

                        <td>
                            <div class="gallery-item">
                                <a href="../../../static/Images/gallery/bridal/bride3/2.jpg"
                                    data-lightbox="gallwey-item" data-title="Shoot">
                                    <img src="../../../static/Images/gallery/bridal/bride3/2.jpg" alt="Bride 3">
                                </a>
                            </div>
                        </td>

                        <td>
                            <div class="gallery-item">
                                <a href="../../../static/Images/gallery/bridal/bride3/3.jpg"
                                    data-lightbox="gallwey-item" data-title="Shoot">
                                    <img src="../../../static/Images/gallery/bridal/bride3/3.jpg" alt="Bride 3">
                                </a>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="gallery-item">
                                <a href="../../../static/Images/gallery/bridal/bride3/4.jpg"
                                    data-lightbox="gallwey-item" data-title="Shoot">
                                    <img src="../../../static/Images/gallery/bridal/bride3/4.jpg" alt="Bride 3">
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="gallery-item">
                                <a href="../../../static/Images/gallery/bridal/bride3/5.jpg"
                                    data-lightbox="gallwey-item" data-title="Shoot">
                                    <img src="../../../static/Images/gallery/bridal/bride3/5.jpg" alt="Bride 3">
                                </a>
                            </div>
                        </td>

                        <td>
                            <div class="gallery-item">
                                <a href="../../../static/Images/gallery/bridal/bride3/6.jpg"
                                    data-lightbox="gallwey-item" data-title="Shoot">
                                    <img src="../../../static/Images/gallery/bridal/bride3/6.jpg" alt="Bride 3">
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="gallery-item">
                                <a href="../../../static/Images/gallery/bridal/bride3/7.jpg"
                                    data-lightbox="gallwey-item" data-title="Shoot">
                                    <img src="../../../static/Images/gallery/bridal/bride3/7.jpg" alt="Bride 3">
                                </a>
                            </div>
                        </td>

                        <td>
                            <div class="gallery-item">
                                <a href="../../../static/Images/gallery/bridal/bride3/8.jpg"
                                    data-lightbox="gallwey-item" data-title="Shoot">
                                    <img src="../../../static/Images/gallery/bridal/bride3/8.jpg" alt="Bride 3">
                                </a>
                            </div>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    {% include 'footer.html' %}
</body>

</html>