<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Bridal Portraits | Shutter Studios</title>
  <link rel="stylesheet" href="../../static/style.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.4/css/lightbox.min.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.4/js/lightbox.min.js"></script>
</head>

<body>
  {% include 'header.html' %}

  <section class="page-section">
    <div>
      <thead>
        <tr>
          <th>

            <div class="container">
              <h1 class="section-title">Bridal Portraits</h1>
              <p class="section-description">
                Capturing timeless bridal portraits with grace, elegance, and emotion.
              </p>
              <div class="gallery-item">
                <a href="{{ url_for('gallery_bride1') }}" data-lightbox="gallwey-item"
                  data-title="Shoot">
                  <img src="../../static/Images/gallery/bridal/bride1/1.jpg" alt="Bride 1">
                  <div class="overlay">
                    <h3>Bride1</h3>
                  </div>
                </a>
              </div>

              <div class="gallery-item">
                <a href="{{ url_for('gallery_bride2') }}" data-lightbox="bride2-gallery"
                  data-title="Shoot">
                  <img src="../../static/Images/gallery/bridal/bride2/5.jpg" alt="Bride 2">
                  <div class="overlay">
                    <h3>Bride2</h3>
                  </div>
                </a>
              </div>

              <div class="gallery-item">
                <a href="{{ url_for('gallery_bride3') }}" data-lightbox="bride1-gallery"
                  data-title="Shoot">
                  <img src="../../static/Images/gallery/bridal/bride3/4.jpg" alt="Bride 2">
                  <div class="overlay">
                    <h3>bride3</h3>
                  </div>
                </a>
              </div>
            </div>
            </td>
        </tr>
      </thead>
    </div>
  </section>
  {% include 'footer.html' %}

</body>

</html>