:root{
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    color: #000;
    margin: 0;
    padding: 0;
    text-align: center;
}

.package-container {
    max-width: 900px;
    margin: 50px auto;
}

.package-container img {
    width: 100%;
    max-width: 500px;
    border-radius: 5px;
}

h1 {
    font-size: 24px;
    font-weight: 800;
    margin-top: 20px;
    letter-spacing: 1px;
}

h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

h3 {
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 30px;
}

.packages {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.package {
    width: 250px;
    text-align: center;
    line-height: 1.7;
}

.price {
    font-weight: 700;
    font-size: 20px;
    margin-top: 10px;
}

.address {
    margin-top: 40px;
    font-size: 15px;
    letter-spacing: 0.5px;
}

.divider {
    width: 100px;
    height: 2px;
    background-color: black;
    margin: 10px auto;
}

/* Header */
.site-header {
    height: 80px;
    background: rgba(255, 255, 255, 0.95);
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    position: sticky;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 15px rgba(222, 222, 222, 0.3);
    transition: box-shadow 0.3s ease, background 0.3s ease;
}

.site-header:hover {
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.6);
    background: rgb(255, 253, 253);
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
}

.main-nav a {
    color: #191818;
    text-decoration: none;
    margin: 0 14px;
    font-size: 15px;
    transition: var(--transition);
}

.main-nav a:hover {
    color: var(--accent);
    transform: translateY(-2px);
}

.btn.schedule {
    background: var(--accent);
    color: #fff;
    padding: 20px 36px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 700;
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

.btn.schedule:hover {
    background: #ff00aa87;
    box-shadow: 0 0 15px 8px rgba(214, 2, 154, 0.776);
    transform: scale(1.05); }