body.packages-page {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    color: #000;
    text-align: center;
}

.package-container {
    max-width: 900px;
    margin: 50px auto;
}

.package-container img {
    width: 100%;
    max-width: 500px;
    border-radius: 5px;
}

h1 {
    font-size: 24px;
    font-weight: 800;
    margin-top: 20px;
    letter-spacing: 1px;
}

h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

h3 {
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 30px;
}

.packages {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.package {
    width: 250px;
    text-align: center;
    line-height: 1.7;
}

.price {
    font-weight: 700;
    font-size: 20px;
    margin-top: 10px;
}

.address {
    margin-top: 40px;
    font-size: 15px;
    letter-spacing: 0.5px;
}

.divider {
    width: 100px;
    height: 2px;
    background-color: black;
    margin: 10px auto;
}
