<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoot Packages</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <section class="package-container">
        <div class="package-container">
            <div class="logo">
                <H1>Yash Gaikwad Photography</H1>
            </div>

            <div class="package">
                <div class="h2">
                    <h2>
                        Wedding
                    </h2>
                    <div class="h3">
                        <h3>
                            Basic Quality<br>
                            Medium Quality<br>
                            High Quality
                        </h3>
                    </div>

                </div>

            </div>
        </div>
    </section>

</body>

</html>