<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Outdoor Pre-Weddings | Yash Gaikwad Photography</title>
    <link rel="stylesheet" href="../../static/style.css">
</head>

<body>
    {% include 'header.html' %}
    <div class="present">
        <div class="present-img">
         <img src="../../../static/Images/wedding/pre-wedding/pre-wedding2/01.jpg" alt="">
        </div>    
    </div>
    <div class="container">
        <h1 class="section-title">Outdoor Pre-Wedding Shoots </h1>
        <p class="section-description">
        <p>Celebrate the beginning of forever with a pre-wedding shoot that captures your love, laughter, and the
            moments in between.</p>
        </p>
        <section class="gallery-grid">
            <table>
                <thead>
                    <tr>
                        <td>
                            <div class="gallery-item">
                                <a href="../../../static/Images/wedding/pre-wedding/pre-wedding2/1.jpg" data-lightbox="pre-wedding-gallery"
                                    data-title="Shoot">
                                    <img src="../../../static/Images/wedding/pre-wedding/pre-wedding2/1.JPG" alt="Shoot">
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="gallery-item">
                                <a href="../../../static/Images/wedding/pre-wedding/pre-wedding2/2.JPG" data-lightbox="pre-wedding-gallery"
                                    data-title="Shoot">
                                    <img src="../../../static/Images/wedding/pre-wedding/pre-wedding2/2.JPG" alt="Shoot">
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="gallery-item">
                                <a href="../../../static/Images/wedding/pre-wedding/pre-wedding2/" data-lightbox="pre-wedding-gallery"
                                    data-title="Shoot">
                                    <img src="../../../static/Images/wedding/pre-wedding/pre-wedding2/" alt="Shoot">
                                </a>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="gallery-item">
                                <a href="../../../static/Images/wedding/pre-wedding/pre-wedding2/4.JPG" data-lightbox="pre-wedding-gallery"
                                    data-title="Shoot">
                                    <img src="../../../static/Images/wedding/pre-wedding/pre-wedding2/4.JPG" alt="Shoot">
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="gallery-item">
                                <a href="../../../static/Images/wedding/pre-wedding/pre-wedding2/5.JPG" data-lightbox="pre-wedding-gallery"
                                    data-title="Shoot">
                                    <img src="../../../static/Images/wedding/pre-wedding/pre-wedding2/5.JPG" alt="Shoot">
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="gallery-item">
                                <a href="../../../static/Images/wedding/pre-wedding/pre-wedding2/6.JPG" data-lightbox="pre-wedding-gallery"
                                    data-title="Shoot">
                                    <img src="../../../static/Images/wedding/pre-wedding/pre-wedding2/6.JPG" alt="Shoot">
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="gallery-item">
                                <a href="../../../static/Images/wedding/pre-wedding/pre-wedding2/7.JPG" data-lightbox="pre-wedding-gallery"
                                    data-title="Shoot">
                                    <img src="../../../static/Images/wedding/pre-wedding/pre-wedding2/7.JPG" alt="Shoot">
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="gallery-item">
                                <a href="../../../static/Images/wedding/pre-wedding/pre-wedding2/8.JPG" data-lightbox="pre-wedding-gallery"
                                    data-title="Shoot">
                                    <img src="../../../static/Images/wedding/pre-wedding/pre-wedding2/8.JPG" alt="Shoot">
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="gallery-item">
                                <a href="../../../static/Images/wedding/pre-wedding/pre-wedding2/9.JPG" data-lightbox="pre-wedding-gallery"
                                    data-title="Shoot">
                                    <img src="../../../static/Images/wedding/pre-wedding/pre-wedding2/9.JPG" alt="Shoot">
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="gallery-item">
                                <a href="../../../static/Images/wedding/pre-wedding/pre-wedding2/10.JPG" data-lightbox="pre-wedding-gallery"
                                    data-title="Shoot">
                                    <img src="../../../static/Images/wedding/pre-wedding/pre-wedding2/10.JPG" alt="Shoot">
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
    {% include 'footer.html' %}
</body>

</html>